body {
    font-family: roboto, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin:0;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1f2937;
    color:#f9faf8;
    padding-left:100px;
    padding-right:100px;
    margin:0;
}

.header ul {
    display:flex;
    gap:15px;
    padding:15px;
}

.header ul li {
    list-style-type: none;
    color:#f9faf8;
}


.header-logo {
    font-size:24px;
    color: #f9faf8;
}

.logo {
    margin-top:10px;
    margin-bottom:10px;
}

.logo img {
    border-radius:10px;
}

.content {
    flex: 1;
    background-color: #fff;
    margin:0;
    display:flex;
    justify-content: start;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-left:100px;
    padding-right:100px;

}

.hero-main {
    font-size: 48px;
    color:#f9faf8;
    font-weight: extra-bold;
}

.hero-secondary, .hero a {
font-size: 18px;
color: #e5e7eb;
text-decoration: none;
}

button, .call-to-action {
    background-color: #3882f6;
    border-radius:10px;
    border:0;
    margin:10px;
}

.hero-text button {
padding:15px;
color:#e5e7eb;
font-size: 18px;
}

.hero-image {
    padding:20px;
}

.hero-image img {
    border-radius:10px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.information-header {
    font-size:36px;
    font-weight:extra-bold;
    color:#1f2937;
}

.information-cards {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
}

.card img {
    border-radius: 20px;
    border:1px;
    border-color: #3882f6;
    padding:10px;
}

.card {
    color:#1f2937;
    background-color: #f9faf8;
    font-size:18px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card p {
    padding:10px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    font-size:36px;
    color:#1f2937; 
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: space-between;*/
   
}

.quote p {
    margin:0;
}

.quote-text {
    text-align: center;
    font-weight:100;
    font-style:italic;
    display: flex;
    flex-wrap: wrap;
    margin-top:15px;
    margin-left:48px;
    margin-right:48px;

}

.quote-source {
    font-size:18px;
    font-weight:bold;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom:10px;
    margin-left:48px;
    margin-right:48px;
}

.call-action {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #3882f6;
    color:#e5e7eb;
    border-radius:10px;
    border:0;
    width:75%;
    margin-top:48px;
    margin-bottom:48px;
    margin-left:auto;
    margin-right:auto;
    padding:48px;
    gap:10px;

}

.call-action p {
    padding:0;
    margin: 0;
}

.action-head {
    font-weight:bold;
    font-size:24px;
}

.action-text {
    font-weight:200;
    font-size:16px;
}

button.action-button {
    padding:5px;
    color:#e5e7eb;
    font-size: 18px;
    border:2px solid #e5e7eb;
    }

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color:#f9faf8;
    margin:0;
}